# show line numbers with less
alias less='less -N'

# ssh
alias ssh-keygen='ssh-keygen -t ed25519' # elliptic curve keygen, shorter, more secure

# navigation
alias des='desktop'
alias desktop="cd ~/Desktop"
alias docs='documents'
alias documents="cd ~/Documents"

# utility
alias c='clear'
alias C='clear'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias h='history'
alias j='jobs -l'
alias ..='cd ..'
alias du='du -kh'
alias df='df -kTh'
alias grep='grep --color=auto'
alias lint='npm run lint'
alias vi='nvim'
alias v='vi'

# docker
alias dockerps='docker ps --format "table {{.Names}}\t{{.Status}}"'
alias dockerkill='docker stop $(docker ps -aq) && docker rm $(docker ps -aq)'
alias dockerup='docker-compose up -d'
alias dockerdown='docker-compose down'

# git
alias gs='git status'
alias gp='git pull'
alias gf='git fetch'

# pretty-print PATH
alias path='echo -e ${PATH//:/\\n}'

# ls
alias ll='ls --color=auto -laF --group-directories-first'
alias l='ls --color=auto -lF --group-directories-first'
alias lr='ll -R' #  recursive ls
alias tree='tree -Csuh'    #  Nice alternative to 'recursive ls' ...

# load custom_aliases file if exists
if [ -f ~/.custom_aliases ]; then
    . ~/.custom_aliases
fi
