#!/usr/bin/env bash

function maketar() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }

function makezip() { zip -r "${1%%/}.zip" "$1" ; }

# Confirm a question with the user.
# example: confirm "Are you sure?" && git reset --hard
confirm() {
    # not valid bash, but works in zsh. Uncomment first read to make compatible with bash.
    # read -r -p "${1:-Are you sure? [y/N]} " response
    read -r "response?${1:-Are you sure? [y/N]} "
    case "$response" in
        [yY][eE][sS]|[yY]) true;;
        *) false;;
    esac
}

# load custom_functions file if exists
if [ -f ~/.custom_functions ]; then
    . ~/.custom_functions
fi
