root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

[*.lua]
max_line_length = 120
quote_style = double
continuation_indent = 4
trailing_table_separator = smart
call_arg_parentheses = keep
space_around_table_field_list = true
trailing_comma = always
